.footer {
  width: 100%;
  background: #c70039;
  color: white;

  /* Footer hamesha niche rahe */
  margin-top: auto;
}

.footer-container {
  max-width: 1400px;
  margin: auto;

  padding: 35px 50px; /* Pehle 60px tha */

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;

  gap: 30px;
}

.footer-section h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-section p {
  word-wrap: break-word;
  line-height: 1.8;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-section ul li:hover {
  color: #ffd700;
}

/* Social Icons */

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-left: 35px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  color: white;
  font-size: 25px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: white;
  color: #c70039;
}

.footer-bottom {
  text-align: center;
  padding: 12px;

  background: #a50030;

  font-size: 13px;
}

/* Tablet */

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px 20px;
  }

  .social-icons {
    justify-content: center;
  }
}
